.header {
    max-width: 80%;
    margin: 30px auto;
    background-color: hsl(180, 100%, 20%);
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border-radius: 5px;
};